{% extends 'layout.html' %}

{% block content %}
    <section class="col-2">
        <div class="account">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="name">
                <h2 class="account-heading">{{ username }}</h2>
                <p class="text-secondary">{{ email }}</p>
            </div>
        <form class="account-form" action="/account/" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="account-name">
                    {{ form.name.label()}}
                    <br>
                    {{ form.name(placeholder= username ) }}
                {% if form.name.errors %}
                <span class="error">
                    {% for error in form.name.errors %}
                    {{ error }}
                    {% endfor %}
                </span>
                {% endif %}
                </div>
                <div class="account-name">
                    {{ form.email.label()}}
                    <br>
                    {{ form.email(placeholder= email ) }}
                    {% if form.email.errors %}
                    <span class="error">
                        {% for error in form.email.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>
                    <div class="account-name">
                        {{ form.picture.label() }}
                        <br>
                        {{ form.picture }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
            <span class="account-button">
                <input class="update-button" type="submit" value="Update">
            </span>
        </form>
        </div>
    </section> 
{% endblock content %}