<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>twitter clone</title>
    <link rel=stylesheet href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <div class="lmain">
        <section class="column lcol-1">
            <h3 class="first">あなたの「好き」をフォローしましょう。</h3>
            <h3>話題のトピックを追いかけましょう。</h3>
            <h3>会話に参加しましょう。</h3>
        </section>
        <section class="column lcol-2">
            <form class="form-inline" role="form" action="/" method="post">
                {{ form.csrf_token }}
                <div class="linput1">
                    {{ form.name.label()}}
                    <br>
                        {{ form.name }}
                    <br>
                        {% if form.name.errors %}
                        <span class="error">
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                        </span>
                        {% endif %}
                </div>
                <div class="linput2">
                    {{ form.password.label()}}
                    <br>
                        {{ form.password }}
                        <br>
                        {% if form.password.errors %}
                        <span class="error">
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                        </span>
                        {% endif %}
                </div>
                <button class="login-button" type="submit">ログイン</button>
                </form>
                <div class="lregister">
                    <h1 class="first">「いま」起きていることを見つけよう</h1>
                    <h4>Twitterをはじめよう</h4>
                <div class="lregister">
                    {% if not session.logged_in %}
                    <p><a class="button2" href="/register/" role="button">アカウント作成</a></p>
                    {% endif %}
                </div>
                </div>

        </section>
        
    </div>
            <footer class="footer">
                © 2020 Kenta Nakamori
            </footer>
</body>
</html>