<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>twitter clone</title>
    <link rel=stylesheet href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
          {% if not session.logged_in %}
          {% block signin_form %}{% endblock signin_form %}
          {% endif %}
      {% for message in get_flashed_messages() %}
      <h4 class="alert alert-success">{{ message }}</h4>
      {% endfor %}
      {% if error %}
      <h4 class="error">
          <strong>Error:</strong>{{ error }}
      </h4>
      {% endif %}
      {% block content %}
      {% endblock content %}
      <footer class="footer">
      </footer>
  </body>
</html>